html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: none;
  outline: red 1px solid;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

:focus {
  outline: 2px solid blue;
  outline-offset: 2px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg,
img {
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

svg,
img {
  vertical-align: middle;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1.5;
}

:root {
  --clr-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-dark-cyan: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-footer: hsl(168, 34%, 41%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(210, 4%, 67%);
  --clr-grayish-blue: hsl(232, 10%, 55%);
  --clr-dark-gray: hsl(213, 9%, 39%);

  --fs-regular: 18px;

  --ff-paragraph: "Barlow", sans-serif;
  --ff-title: "Fraunces", sans-serif;

  --fw-p-600: 600;
  --fw-t-700: 700;
  --fw-t-900: 900;

  --padding: 2rem;
}

body {
  display: grid;
  place-content: center;
  text-align: center;
  grid-auto-columns: 1fr;
  font-size: var(--fs-regular);
}

p {
  font-family: var(--ff-paragraph);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-title);
}

picture img {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.header-image {
  position: absolute;
}

.navigation-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-link {
  position: absolute;
  top: 3rem;
  left: 2rem;
  max-width: 70%;
}

.burger-menu {
  cursor: pointer;
  position: absolute;
  width: 2.5rem;
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  font-family: var(--ff-title);
  font-weight: var(--fw-t-900);
  color: var(--clr-white);
}

/* .menu-list {
  display: none !important;
  position: absolute;
  top: 7rem;
  right: 10%;
  flex-direction: column;
  background-color: white;
  font-family: var(--ff-paragraph);
  color: var(--clr-gray);
  font-size: 1.5rem;
  padding: 2rem 5rem;
  gap: 2rem;
}

ul > button {
  text-transform: uppercase;
  background-color: var(--clr-yellow);
  padding: 1rem;
  border-radius: 2rem;
  width: 190px;
  font-family: var(--ff-title);
  font-weight: var(--fw-t-700);
  font-size: 18px;
} */

/* .menu-list.active {
  display: block;
} */

/* @media (min-width: 800px) {
  .menu-list {
    display: flex;
    gap: 1rem;
  }
  .burger-menu {
    display: none;
  }
} */
