html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: none;
  /* outline: red 1px solid; */
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

:focus {
  outline: 2px solid blue;
  outline-offset: 2px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg,
img {
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

svg,
img {
  vertical-align: middle;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1.5;
}

:root {
  --clr-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-dark-cyan: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-footer: hsl(168, 34%, 41%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(210, 4%, 67%);
  --clr-grayish-blue: hsl(232, 10%, 55%);
  --clr-dark-gray: hsl(213, 9%, 39%);

  --fs-regular: 18px;

  --ff-paragraph: "Barlow", sans-serif;
  --ff-title: "Fraunces", sans-serif;

  --fw-p-600: 600;
  --fw-t-700: 700;
  --fw-t-900: 900;

  --padding: 2rem;
}

body {
  display: grid;
  place-content: center;
  text-align: center;
  grid-auto-columns: 1fr;
  font-size: var(--fs-regular);
}

p {
  font-family: var(--ff-paragraph);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-title);
}

picture img {
  width: 100%;
}

header {
  position: relative;
  overflow: hidden;
}

.header-image {
  width: 100%;
}

.navigation-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  z-index: 10;
  background: transparent;
}

.logo-img {
  width: 100px;
}

.burger-menu {
  width: 20px;
  cursor: pointer;
}

.header-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
  text-align: center;
  color: white;
  gap: 4rem;
}

.header-content h1 {
  font-family: var(--ff-title);
  font-weight: var(--fw-t-700);
  color: var(--clr-white);
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.header-content img {
  justify-self: center;
  width: 35px;
}

.menu-list {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 30%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
  max-width: 80%;
  height: 350px;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-white);
  z-index: 10;
  display: none; /*! js script */
}
.menu-list a {
  font-family: var(--ff-paragraph);
  color: var(--clr-grayish-blue);
  padding: 1rem;
  font-size: 1.25rem;
}

.menu-list button a {
  background-color: var(--clr-yellow);
  border-radius: 50px;
  padding: 1.2rem 2rem;
  font-family: var(--ff-title);
  font-size: var(--fs-regular);
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.article_1and2-content {
  display: grid;
  padding: 3rem 3rem;
  gap: 1.5rem;
}

.article_1and2-content p {
  color: var(--clr-grayish-blue);
  font-family: var(--ff-paragraph);
}

.learn-more {
  font-family: var(--ff-title) !important;
  font-weight: var(--fw-t-900);
  color: black !important;
  text-transform: uppercase;
}

.learn-more_decor {
  position: relative;
  justify-self: center;
  width: 140px;
  top: -33px;
  opacity: 30%;
  border: 4px solid var(--clr-yellow);
  border-radius: 30px;
}

.red_learn-more {
  border: 4px solid var(--clr-red) !important;
}

/* .article_3 {
  height: 650px;
} */

.article_3-content,
.article_4-content {
  position: relative;
  top: -220px;
}
.article_3-content h3 {
  font-size: 2rem;
  font-family: var(--ff-title);
  font-weight: var(--fw-t-900);
  color: var(--clr-dark-cyan);
  margin-bottom: 2rem;
}

.article_3-content p {
  color: var(--clr-dark-cyan);
}

.article_4-content h3 {
  font-size: 2rem;
  font-family: var(--ff-title);
  font-weight: var(--fw-t-900);
  color: var(--clr-dark-blue);
  margin-bottom: 2rem;
}
.article_4-content p {
  color: var(--clr-dark-blue);
}

* h2 {
  font-family: var(--ff-title);
  font-weight: var(--fw-t-900);
  font-size: 2rem;
}

@media (min-width: 800px) {
  .menu-wrapper {
    display: none;
  }

  .menu-list {
    /* display: block; */
    /*! unlock after */
    background: transparent;
  }

  .burger-menu {
    display: block;
  }
}
